/* CSS declarations go here */
html, body, #map {
    height: 100%;
    width: 100%;
}

input.form-control {
    width: 90%;
}

header {
    color: #FFF;
    background-color: #428bca;
    height:60px;
}

span.glyphicon:hover {
    color: #000;
}

.header-title, span.glyphicon {
    cursor: default;
    margin: 12px 1px 22px 25px;
    font-size: 30px;
}

#sidebar {
    position: absolute;
    top:60px;
    left:0px;
    min-height: 100%;
    width: 350px;
    background-color: #428bca;
    opacity: 0.8;
}

.leaflet-left .leaflet-control {
    margin-left:360px !important;
}