/* CSS declarations go here */
html, body, #map {
    position: relative;
    height: 100%;
    width: 100%;
}

input.form-control {
    width: 90%;
}

header {
    color: #FFF;
    background-color: #428bca;
    height:60px;
}

span.glyphicon:hover {
    color: #000;
}

.header-title, span.glyphicon {
    cursor: default;
    margin: 12px 1px 22px 25px;
    font-size: 30px;
}

#sidebar {
    position: absolute;
    top:60px;
    left:0px;
    min-height: 100%;
    width: 350px;
    background-color: #ecf0f1;
    opacity: 0.8;
    border: 15px;
    border-style: solid;
    border-color: #428bca;
}

.leaflet-left .leaflet-control {
    margin-left:395px !important;
}



.hospital {
    background-color: #ecf0f1;
    margin: 10px 15px 50px 15px;
}

.score {
    margin-right: 20px;
    font-size: 2em;
    color:#7f8c8d;
    float: left;
}

span.glyphicon {
    margin-left: 5px;
    margin-top: 10px; 
    font-size: 1.0em;
}